@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-weight: 600;
}

a {
    color: #f90;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}


.main-header {
    height: 100px;
    background-color: #333;
    margin-bottom: 10px;
    padding-top: 35px;
}

.main-footer {
    height: 80px;
    background-color: #333;
    color: #fff;
    line-height: 80px;
    text-align: center;
}
small {
    font-size: 14px;
}

.logo a {
    text-indent: -9999px;
    background-image: url("./img/bootstrap-logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 207px;
    height: 39px;
    margin: auto;
}
nav{
    margin-bottom: 30px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    float: left;
    width: 50%;
    list-style-type: none;
}
nav ul li a{
    display: block;
    background-color: #f90;
    color: #fff;
    text-align: center;
    text-decoration: none;
 
    font-size: 22px;
    height: 40px;
    line-height: 40px;
}
nav ul li a:hover{
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

/* Section */
.intro {
    margin-bottom: 40px;
}
.intro img {
    margin: auto;
    margin-bottom: 30px;
}
.intro h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.lead {
    font-size: 18px;
}
.about {
    margin-bottom: 65px;
}
.about article {
    margin-bottom: 40px;
}
.about article h3{
    background-color: #333;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 30px;
}
.about article p {
    margin-bottom: 20px;
}
.contact h3 {
	text-align: center;
    margin-top: 0;
}
#contact-form .form-group label {
	display: block;
	text-align: center;
  font-weight: bold;
}
#contact-form .form-control {
	border-radius: 0;
	border: 2px solid #333;
	box-shadow: none;
	height: 50px;
}
#contact-form textarea.form-control {
	height: 180px;
	margin-bottom: 30px;
}
#contact-form button {
	background-color: #f90;
	color: #fff;
	font-weight: bold;
    font-size: 22px;
	border-radius: 0;
	text-transform: uppercase;
	margin-bottom: 50px;
}
#contact-form button:hover {
    background-color: #333;
}
.svg-holder {
    padding-top: 60px;
}
.svg-holder img {
  display: none;
}
@media (min-width: 768px) {

    /* Specific */
    .logo a {
        margin: 0;
    }
    nav {
        margin-bottom: 80px;
    }
    nav ul li {
        width: 165px;
    }
    .intro {
        margin-bottom: 60px;
    }
    .intro h2 {
        text-align: left;
        font-size: 32px;
        margin-top: 5px;
    }
    .about {
        margin-bottom: 70px;
    }
    .svg-holder img {
      display: block;
    }
	.main-footer {
		text-align: left;
	}
}


@media (min-width: 992px) {
    .intro h2 {
        text-align: left;
        font-size: 50px;
        margin-top: 10px;
    }
    #contact-form button {
        margin-bottom: 70px;
    }
}


@media (min-width: 1200px) {
    .intro h2 {
        text-align: left;
        font-size: 50px;
        margin-top: 40px;
    }
    .about {
        margin-bottom: 80px;
    }
    #contact-form button {
        margin-bottom: 120px;
    }
}